@import '@/assets/styles/variables'
@import '@/assets/styles/libs/media'
.feedback
	&-form
		&-row
			display: flex
			align-items: center
			&._v1
				justify-content: space-between
				margin-bottom: 40px
		&__name
			width: 360px
			max-width: 100%
		&__phone
			width: 240px
			max-width: 100%
	&-privacy
		padding-left: 15px
		font-size: 12px
		line-height: 18px
		a
			color: $orange
