@import '@/assets/styles/variables'
@import '@/assets/styles/libs/media'

.catalog-item 
	max-width: 100%
	transition: all .35s ease-in-out
	box-shadow: 0px 2px 8px lightgrey
	border-radius: $radius * 2
	background: $body_background
	text-align: left
	&:not(:last-of-type)
		margin-bottom: 20px
	&._no-results
		display: flex
		align-items: center
		justify-content: center
		min-height: 20vh
		font-size: 16px
		line-height: 20px
		padding: 20px
		font-family: $medium
		text-align: center
		+min-screen($screen-sm)
			font-family: $default-font-family
			font-size: 24px
			line-height: 38px
	&-enter 
		transform: scale(0.5) translatey(-80px)
		opacity: 0
	&-leave-to
		transform: translatey(30px)
		opacity: 0
	&-leave-active 
		position: absolute
		z-index: -1
	&__container
		padding: 12px 12px 33px
		+min-screen($screen-md)
			padding: 20px
		+min-screen($screen-lg)
			padding: 40px
	&__layout
		display: flex
		flex: 1 1 auto
		padding: 34px 14px
		margin: 0 0 24px
		align-items: center
		justify-content: center
		background: #FFF
		border: 1px solid #E6E5E5
		border-radius: $radius
		+min-screen($screen-sm)
			flex: 0 0 55%
			margin: 0 30px 0 0
		+min-screen($screen-md)
			flex: 1 1 auto
			padding: 10px 19px
			margin: 0 20px
		+min-screen($screen-lg)
			margin: 0 35px
	&__content
		display: flex
		flex-direction: column
		align-items: flex-start
		+min-screen($screen-md)
			width: 28%
		+min-screen($screen-lg)
			width: 23%
	&__row
		display: flex
		align-items: stretch
		flex-direction: column
		+min-screen($screen-sm)
			flex-direction: row
			flex-wrap: wrap
		+min-screen($screen-md)
			flex-wrap: nowrap
			justify-content: space-between
	&__slider
		margin-bottom: 16px
		+min-screen($screen-sm)
			width: 100%	
			margin-bottom: 30px
		+min-screen($screen-md)
			width: 28.5%
			margin-bottom: 0
	&__area
		margin-bottom: 12px
		color: $orange
		font-family: $bold
		font-size: 24px
	&__address
		margin-bottom: 14px
		font-size: 14px
		line-height: 18px
	&__price
		margin-bottom: 18px
		font-family: "RoadRadio-Bold"
		color: #000
		font-size: 24px
		line-height: 26px
	&__button
		margin-bottom: 16px
	&__all-info
		margin: 30px auto 0
		+min-screen($screen-md)
			margin: auto 0 0
		
	
.preview-slider
	img
		width: 100%
		height: 100%
		object-fit: cover
		border-radius: $radius
	.slick
		&-slide
			div
				height: 100%
		&-next,
		&-prev
			position: absolute
			top: 50%
			right: 25%
			display: block
			width: 50px
			height: 50px
			border-radius: 50%
			font-size: 0
			transform: translate(50%,-50%)
			background: transparentize(#FFF,.5) url(/images/arrow.svg) no-repeat center
			background-size: 60%
			border: 2px solid #FFF
			transition: 0.5s
			cursor: pointer
			+min-screen($screen-sm)
				right: 12.5%
			+min-screen($screen-md)
				right: 25%
			&:hover
				border-color: $orange-dark
				background: transparentize(#FFF,0) url(/images/arrow-orange-dark.svg) no-repeat center
				background-size: 60%
		&-prev
			transform: translate(50%,-50%) rotate(180deg)
			right: 75%
			z-index: 1
			+min-screen($screen-sm)
				display: none !important
			
	&._for
		margin-bottom: 8px
		.slick-slide
			+min-screen($screen-sm)
				height: 300px
			+min-screen($screen-md)
				height: 232px
	&._nav
		max-width: calc(100% + 8px)
		width: calc(100% + 8px)
		margin: 0 -4px
		.slick-slide
			position: relative
			height: 80px
			padding: 0 4px
			cursor: pointer
			&:before
				content: ''
				display: block
				position: absolute
				top: 0px
				left: 4px
				width: calc(100% - 8px)
				height: 100%
				background: transparentize($grey, 0.5)
				border-radius: $radius
				opacity: 0
				transition: 0.5s
			&:hover
				&:before
					opacity: 1
