.popup
	position: fixed
	display: flex
	width: 100%
	height: 100vh
	top: 0
	left: 0
	align-content: center
	justify-content: center
	z-index: 10000
	&._dark
		background: transparentize($grey,.4)
		overflow: auto
		&._hidePopup
			transition-delay: 0.4s !important
	&._showPopup
		opacity: 1
		visibility: visible
		pointer-events: all
	&._hidePopup
		visibility: hidden
		opacity: 0
		pointer-events: none
		transition-delay: 1s
	&-back-closer
		position: absolute
		top: 0
		left: 0
		display: block
		+size(100%)
		z-index: 0
		cursor: pointer
	&-backdrop
		position: fixed
		display: block
		right: 0
		bottom: 100%
		+size(50px)
		background: transparentize($grey,.04)
		border-radius: 50%
		cursor: pointer
		z-index: 10	
		._showPopup &,
		._active &,
		&._active
			animation: backdropInMob 0.5s forwards
			+min-screen($screen-md)
				animation: backdropIn 0.5s forwards
		._hidePopup &,
		.modal-leave-active &,
		&._hide
			animation: backdropOutMob 0.5s forwards
			+min-screen($screen-md)
				animation: backdropOut 0.5s forwards
	&-content
		position: static
		margin: auto
		color: #FFF
		opacity: 0
		transition: 0.4s
		z-index: 1
		+min-screen($screen-md)
			max-height: 60vh
		._showPopup &,
		.modal-enter-to &
			opacity: 1
			transition-delay: 0.5s
		._dark &
			transition-delay: 0s !important
		._hidePopup &,
		.modal-leave-active &
			transition-delay: 0s !important
			opacity: 0
		._dark &
			max-height: none
	&-body
		._dark &
			position: relative
			width: 800px
			max-width: 100%	
			max-height: none
			padding: 64px 16px 32px
			background: $grey
			border-radius: $radius * 2
			+min-screen($screen-md)
				padding: 80px 40px 45px
	&__title
		margin-bottom: 10px
		font-size: 28px
		line-height: 32px
		font-family: "RoadRadio-Bold"
		+min-screen($screen-md)
			font-size: 46px
			line-height: 60px
		._dark &
			font-family: $medium
			font-size: 36px
	&__text
		font-size: 18px
		line-height: 26px
	&-feedback
		z-index: 11
		&__content
			width: 640px
			max-width: 100%
			padding: 0 16px
			+min-screen($screen-sm)
				padding: 0
		&-form
			padding-top: 6.52vh

	&-closer
		position: absolute
		top: 16px
		right: 16px
		display: block
		+size(24px)
		border: none
		background: url('/images/close.svg') no-repeat center
		background-size: contain
		z-index: 100
		+min-screen($screen-md)
			top: 8.93vh
			right: 8.93vh
		._dark &
			top: 16px
			right: 16px
			+min-screen($screen-md)
				top: 40px
				right: 40px
	&-docs
		&-item
			$parent: &
			padding: 35px 0
			border: none
			&:not(:last-of-type)
				border-bottom: 1px solid transparentize(#FFF,.8)
			&__row
				display: flex
			&__icon-wrap
				flex: 0 0 auto
			&__icon
				display: block
				margin-right: 35px
				margin-top: 3px
			&__title
				margin-bottom: 5px
				font-family: $medium
				font-size: 18px
				line-height: 22px
				color: transparentize(#FFF,.2)
				@extend .transition
			&__small
				font-size: 14px
				color: transparentize(#FFF,.2)
			&:hover
				#{$parent}
					&__title
						color: #FFF


@keyframes backdropIn
	0%
		opacity: 0
		transform: scale(1)
	10%
		opacity: 1
	50%
		+size(20vw)
	100%
		+size(40vw)
		transform: scale(5)

@keyframes backdropOut
	0%
		+size(40vw)
		transform: scale(5)
	30%
		+size(20vw)
	70%
		transform: scale(1)
	100%
		opacity: 0
	
@keyframes backdropInMob
	0%
		opacity: 0
		transform: scale(1)
	10%
		opacity: 1
	50%
		+size(20vh)
	100%
		+size(40vh)
		transform: scale(5)

@keyframes backdropOutMob
	0%
		+size(40vh)
		transform: scale(5)
	30%
		+size(20vh)
	70%
		transform: scale(1)
	100%
		opacity: 0