@import '@/assets/styles/variables'

.catalog-item
    &-details
        position: relative
        &-head
            display: flex
            align-items: center
            height: 21vh
            &__title
                font-size: 20px
                text-transform: uppercase
                color: #4F4F4F
                font-family: "RoadRadio-Bold"
    &-detail
        padding-bottom: 50px
        box-shadow: none
        &__layout
            height: 400px
            margin-bottom: 40px
        &-about
            &__title
                margin: 30px 0 15px
                font-family: $bold
                font-size: 20px
                line-height: 28px
                &._v2
                    margin-top: 15px
            &__text
                margin-bottom: 20px
                line-height: 26px
            &-list
                line-height: 26px
                &__item
                    position: relative
                    padding-left: 15px
                    &:before
                        content: '-'
                        display: inline-block
                        position: absolute
                        top: 0px
                        left: 0
                    &._v2
                        &:before
                            content: '•'
        &-slider
            &._for
                width: 100%
                .slick-slide
                    height: 400px
            &.preview-slider._nav
                width: calc(100% + 4px)
                .slick-slide
                    height: 70px
                    // &:before
                    //     background: transparentize(#4C4D4F, 0.5) url('/images/eye.svg') no-repeat center
                .slick-next
                    right: 65px
