@import '@/assets/styles/variables'

.catalog-item
    &-details
        position: relative
        &-head
            display: flex
            align-items: center
            height: 21vh
    &-detail
        box-shadow: none
        &__layout
            height: 400px
        &-about
            &__title
                margin-bottom: 10px
                font-family: $bold
                font-size: 20px
                line-height: 28px
            &__text
                line-height: 26px